:root{
  --primary:#F6F0D7; 
  --secondary: #89986D; 
  --accent:#C5D89D; 
}
*, *::before, *::after {
  box-sizing: border-box;
}
body{
  background-color: var(--primary);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 10px 10px 0; 
}
main{
  flex: 1;
  padding: 5px 15px;
}
header h1{
  margin: 0;
  padding: 0;
  color: var(--secondary);
}
.add-button{
  background-color: transparent;
  border: 3px solid var(--secondary); 
  border-radius: 5px;
  padding: 5px;
  transition: opacity 0.15s;
}
.add-button div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
}
.add-button div img{
  height: 30px;
}
.add-button div p{
  font-weight: bold;
  color: var(--secondary); 
}
.add-button div img, .add-button div p{
  margin: 0;
  padding: 0; 
}
.add-button:hover{
  cursor: pointer;
  background-color: var(--accent);
  opacity: 0.8;
  
}
.add-button:active{
  background-color: var(--primary);
}

.customer-profiles{
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 8px;
}
.profile-card{
  border: 1px solid var(--secondary);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px #00000081;
}
.customer-profile-pic{
  flex: 1,1,50px;
}
.customer-profile-pic img{
  object-fit: contain;
  height: 75px;
}
.customer-info{
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1,1,1;
}
.customer-info p{
  padding: 0; 
  margin: 0;
}
.customer-name{
  font-weight: bold;
}
.customer-role, .customer-company{
  font-size: 0.7rem;
}

.add-customer-form{
  border: 1px solid var(--secondary); 
  height: fit-content;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
  position: absolute; 
  right: 500px;
  top: 100px;
  background-color: var(--primary);
  visibility: hidden;  
  border-radius: 10px;
}
.add-customer-form div{
  width: 100%;
}
.add-customer-form label{
  color: var(--secondary); 
  font-size: 14px;
  font-weight: bold;
}
.add-customer-form input[type="text"]{
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--secondary); 
  background-color: transparent;
  width: 100%; 
}
.add-customer-form input[type="text"]::placeholder{
  font-size: 12px;
  color: rgba(26, 112, 26, 0.61); 
  opacity: 0.7;
  width: 100%;
}
.add-customer-form button{
  padding: 4px;
  font-family: 'Roboto';
  background-color: transparent;
  border: 1px solid var(--secondary); 
  border-radius: 5px;
  color: var(--secondary); 
  font-weight: bold; 
}
.add-customer-form button:hover{
  cursor: pointer;
  background-color: var(--accent);
  color: var(--primary);
}