:root{
  --primary:#F6F0D7; 
  --secondary: #89986D; 
  --accent:#C5D89D; 
}
body{
  background-color: var(--primary);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 10px;
  padding: 0 10px 10px 0; 
}
main{
  border: 1px solid black; 
  padding: 25px;
}
nav{
  border: 1px solid black; 
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.profile div{
  margin: 0;
  padding: 0;
}

.profile-pic-container img{
  height: 100px;
}

.navbar div{
  padding: 0;
  display: flex;
  flex-direction: row;
}
.navbar a{
  text-decoration: none;
  color: var(--secondary); 
}
