:root{
  --primary:#F6F0D7; 
  --secondary: #89986D; 
  --accent:#C5D89D; 
}
nav{
  border-right: 1px solid transparent;
  min-width: 20vh;
  max-width: 50vh;
  min-height: 100vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 1, 1, 300px;
  padding: 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
  margin: 0px;
  position: sticky; 
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile div, 
.profile h1, 
.profile h6, 
.navbar h6{
  margin: 0;
  padding: 0;
}
.profile-pic-container img{
  height: 100px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.navbar h6{
  font-size: 1em;
}
.navbar div{
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  width: fit-content; 
  border-radius: 3px;
  position: relative; 
  box-sizing: border-box;
}
.navbar div::after{
  content: '';
  position: absolute; 
  width: 100%;
  height: 2px;
  bottom: 0; 
  left: 0; 
  background-color: var(--secondary);
  transform-origin: center;   
  transform: scaleX(0);
  transition: transform 0.3s ease;
  bottom: -3px;
}
.navbar div:hover::after{
  transform: scaleX(1);
}
.navbar a{
  text-decoration: none;
  color: var(--secondary); 
  
}
