:root{
  --primary:#F6F0D7; 
  --secondary: #89986D; 
  --accent:#C5D89D; 
}
*, *::before, *::after {
  box-sizing: border-box;
}
body{
  background-color: var(--primary);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 10px 10px 0; 
}